body,html{
    height: 100%;
    margin: 0;
    }   

.titulo{
    text-align: left;
    padding-left: 20px;
    border: 1px;
    border-color: black;
    border-style: dashed;  
    background-color: rgb(0, 0, 0);
    height: 70px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    
}

.CASANAME{

    font-family: casa;
    color: rgb(0, 52, 112);
    font-size: 40px;
    padding-top: 30px;
    padding-left: 100px;

}

.titulo2{
    color: azure;
    background-color: black ;
    border-style: none;
    width: 15cm;
    padding-left: 30px;
    margin-top: 20px;
    margin-left: -27px;
    border-radius: 10px 37px 298px 57px;
    border-bottom: 200cm;
    height: 23px;

}


#texts{

    color: black;
    border-style: solid;
    border: 20px;
    border-color: black;
    padding-right: 20cm;
    text-align: justify;
    font-size: 20px;
    padding-left: 150px;
    
    
}


